/* Card Container */
.cardContainer {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  padding: 1rem;
  border-left: 0px solid white;
  /* border: 1px solid #2e6cf1; */
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: rgb(250, 250, 250);
}
.cardContainer:hover {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  padding: 1rem;
  border-left: 5px solid #2050c3;
  background-color: rgba(255, 255, 255, 1);
}
/* Text Container */
.textContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
}
/* Author */
.cardContainer h5 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 300;
  font-size: 14px;
  color: #2050c3;
}
/* Title */
.cardContainer p {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-weight: 600;
}
/* Timestamp */
.cardContainer span {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
/* Image */
.cardContainer img {
  height: 100px;
  width: 100px;
  margin-left: 1.5rem;
  border-radius: 5px;
}

@media (min-width: 500px) {
  .cardContainer {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1000px) {
  .textContainer {
    min-width: 180px;
    /* text-shadow: -2px 2px 3px rgba(70, 70, 70, 0.2); */
  }
  .cardContainer {
    width: 400px;
    height: 300px;
    /* flex-direction: column-reverse; */
    margin-bottom: 0;
  }
  .cardContainer img {
    object-fit: cover;
    margin-left: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  .cardContainer:hover {
    width: 400px;
    margin-bottom: 0;
    border-left: 5px solid white;
  }
}
