.cardContainer {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  justify-content: space-between;
  /* border: 1px solid blue; */
  padding: 1rem;
  border-left: 5px solid #bdbdbd;
  transition: all 0.3s ease;
}
.cardContainer h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.cardContainer p {
  font-weight: bold;
}
.cardContainer span {
  font-size: 10px;
}
.cardContainer img {
  height: 100px;
  width: 100px;
}
.textContainer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardContainer:hover {
  border-left: 5px solid #9cb499;
}
