/* Container for About */
.aboutContainer {
	height: calc(100vh - 80px);
}

/* Background */
.bgContainer {
	background-image: url(../../assets/background-image1.jpg);
	height: 90vh;
	width: 100vw;
	background-size: cover;
	object-fit: contain;
	background-repeat: no-repeat;
	z-index: -1;
}

/* Box Container for Our Story*/
.storyContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 7rem;
	animation: fadeInUp 1s ease forwards;
	animation-delay: 1s;
}

/* Paragraph Container */
.textContainer {
	/* height: 50vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	height: 350px;
	padding: 5px;
	margin: auto;
	padding-top: 3rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	font-family: 'Poppins';
	border-radius: 2px;
}

/* Listener. Container */
.listenerContainer {
	font-weight: 1000;
}

/* Title Container */
.titleContainer {
	text-align: center;
	padding-top: 25px;
	font-family: 'Karla';
	animation: fadeInUp 1s ease forwards;
	animation-delay: 1s;
}

/* Developer Container */
.developerContainer {
	text-decoration: none;
	background-color: white;
	width: 30rem;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	font-family: 'Poppins';
	animation: fadeInUp 1s ease forwards;
	animation-delay: 1s;
	border-radius: 2px;
}
.developerContainer a {
	text-decoration: none;
	color: #111111;
}

.developerContainer a:hover {
	color: #64a0e4;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(8px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
