.storyContainer {
  padding: 0 2rem;
  height: 100%;
  height: 100%;
}
.textContainer {
  display: flex;
  flex-direction: column;
}
.headerContainer {
  display: flex;
  margin: 1rem 0;
  width: 100%;
}
/* Title */
.headerContainer h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
}
/* EDIT Button */
.headerContainer button {
  font-family: 'Playfair Display', serif;
  margin-left: auto;
  text-decoration: none;
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  height: fit-content;
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  color: #7d7d7d;
  cursor: pointer;
  transition: all 0.2s ease;
}
.headerContainer button:hover {
  border: 1px solid #c5c5c5;
  background-color: #c5c5c5;
  color: black;
}
/* Info Above Image */
.aboveImage {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.aboveImage h5 {
  font-family: 'Bebas Neue', cursive;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}
.aboveImage h5 span {
  color: #2050c3;
  font-weight: 400;
}
/* Date */
.date {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #959595;
}
/* Image */
.storyContainer img {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
  object-fit: cover;
  /* margin-bottom: 1rem; */
}
/* Paragraph */
.storyContainer p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 2rem 0;
}
/* Delete Button */
.storyContainer .deleteBtn {
  font-family: 'Playfair Display', serif;
  margin: 1rem 0;
  border: 1px solid #e8bdbd;
  border-radius: 30px;
  background-color: transparent;
  color: black;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.storyContainer .deleteBtn:hover {
  font-family: 'Playfair Display', serif;
  margin: 1rem 0;
  border: 1px solid #e8bdbd;
  border-radius: 30px;
  background-color: #e8bdbd;
  color: black;
  padding: 0.3rem 1.5rem;
}

@media (min-width: 1000px) {
  .storyContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
