.feedContainer {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.feedContainer h4 {
  font-size: 24px;
  font-weight: 200;
}
.vector {
  position: fixed;
  z-index: -1;
  transform: scale(1.35);
}
