.feedContainer {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedContainer h4 {
  font-size: 24px;
  font-weight: 200;
}
/* Old Vector */
/* .vector {
  position: fixed;
  z-index: -1;
  transform: scale(1.35);
} */
/* New Vector */
.vector {
  position: fixed;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 56%, 0 18%);
  /* background-color: #5B92AD; */
  background: linear-gradient(150deg, #a2bdee, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.35);
  height: 100vh;
  width: 100vw;
}
