.homeContainer {
  height: 100%;
}
.heroContainer {
  /* background-image: url(../../assets/hero-bg.jpg); */
  clip-path: circle(95% at 50% 0);
  background: linear-gradient(180deg, #4477eb, #2050c3);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroContainer img {
  width: 150px;
  /* margin-top: -4rem; */
}
.heroContainer .viewBtn {
  /* background-color: #9cb499; */
  background-color: white;
  /* background-color: #c8c8c9; */
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 10px;
  /* color: black; */
  color: #2e6cf1;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Bebas Neue', cursive;

  font-weight: 200;
  /* font-size: 14px; */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 1rem;
}
.heroContainer .viewBtn:hover {
  background-color: white;
  color: #2e6cf1;
}
.heroContainer p {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 0 2rem;
  margin-top: 0rem;
  transition: all 0.2s ease;
  color: white;
}
.heroContainer .thirdP {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* Stories Container */
.storiesContainer {
  padding: 0 1rem;
}
.storiesContainer h3 {
  font-family: 'Bebas Neue', cursive;
  color: rgb(48, 42, 42);

  margin: 1rem 0;
}
.storiesContainer ul a {
  color: black;
  text-decoration: none;
}
