.footerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	margin-top: auto;
}
.footerContainer span {
	font-size: 10px;
	color: #555555;
	font-weight: bolder;
}
